body {
  background: black;
}

header {
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}
header #hero {
  background: rgba(255, 255, 255, 0.8);
  padding: 80px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: auto;
}
@media (max-width: 900px) {
  header #hero {
    padding: 40px;
  }
}
@media (max-width: 650px) {
  header #hero {
    padding: 0;
  }
}
header #hero h1 {
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 100px;
}
@media (max-width: 650px) {
  header #hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  header #hero h1 .suffix {
    display: inline-block;
  }
}
header #hero h2 {
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 650px) {
  header #hero h2 {
    font-size: 40px;
    margin-bottom: 0;
  }
}
header #hero h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 650px) {
  header #hero h3 {
    font-size: 30px;
    margin-bottom: 5px;
  }
}
@media (max-width: 650px) {
  header .button-container {
    box-sizing: border-box;
    padding: 10px;
  }
}

section {
  padding: 80px;
}
@media (max-width: 900px) {
  section {
    padding: 40px;
  }
}
@media (max-width: 650px) {
  section {
    padding: 25px;
  }
}
section h4 {
  font-size: 30px;
  text-align: center;
}
section h5 {
  font-size: 25px;
}
section .overlay {
  margin: 80px;
  padding: 80px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
  position: relative;
  border-radius: 5px;
}
@media (max-width: 900px) {
  section .overlay {
    padding: 40px;
  }
}
@media (max-width: 650px) {
  section .overlay {
    padding: 25px;
  }
}
section#about {
  padding: 0;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
  height: 110vh;
  justify-content: center;
  align-items: center;
}
section#about iframe {
  height: 110vh;
  border: 0;
  width: 100vw;
  z-index: 1;
  position: absolute;
}
section#about .container {
  z-index: 2;
  box-sizing: border-box;
  padding-top: 60px;
  background: rgba(0, 0, 0, 0.7);
  width: 90vw;
}
@media (max-width: 900px) {
  section#about .container {
    padding-top: 30px;
    width: 95vw;
  }
}
@media (max-width: 650px) {
  section#about .container {
    width: 100vw;
  }
}
section#about h4 a {
  color: white;
}
section#about .content {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  section#about .content {
    padding-bottom: 0px;
    flex-direction: column;
  }
}
section#about .content > div {
  padding: 25px;
  align-self: center;
}
@media (max-width: 650px) {
  section#about .content > div {
    padding: 5px;
    padding-left: 15px;
  }
}
@media (max-width: 900px) {
  section#about .content > div {
    padding: 8px;
    padding-left: 15px;
  }
}
section#about .content #portrait {
  width: 300px;
}
@media (max-width: 650px) {
  section#about .content #portrait {
    width: 100%;
  }
}
section#about .content img {
  width: 300px;
  max-width: none;
  border-radius: 5px;
}
@media (max-width: 650px) {
  section#about .content img {
    display: flex;
    margin: auto;
  }
}
section#about .ee {
  cursor: pointer;
}
section#code {
  background: #111;
  overflow: hidden;
}
section#code .overlay {
  max-width: 850px;
  margin: auto;
}
section#code .overlay .row {
  display: flex;
}
@media (max-width: 900px) {
  section#code .overlay .row {
    display: block;
  }
}
@media (max-width: 650px) {
  section#code .overlay .row {
    display: block;
  }
}
section#code .overlay .row h4 {
  padding-top: 45px;
  margin: auto;
  text-align: left;
  padding-right: 20px;
  flex-basis: 70%;
}
@media (max-width: 900px) {
  section#code .overlay .row h4 {
    padding-right: 0;
  }
}
@media (max-width: 650px) {
  section#code .overlay .row h4 {
    padding-right: 0;
  }
}
section#code .overlay .row:nth-child(2n) {
  flex-direction: row-reverse;
}
section#code .overlay .row:nth-child(2n) h4 {
  padding-left: 20px;
  padding-right: 0;
  flex-basis: 80%;
}
@media (max-width: 900px) {
  section#code .overlay .row:nth-child(2n) h4 {
    padding-left: 0;
  }
}
@media (max-width: 650px) {
  section#code .overlay .row:nth-child(2n) h4 {
    padding-left: 0;
  }
}
section#code .overlay .row:nth-child(3) h4 {
  flex-basis: 70%;
}
section#code .overlay .row ul {
  list-style-type: none;
  padding-left: 0;
}
section#code .background {
  padding-top: 60px;
  max-width: 1100px;
  margin: auto;
  color: white;
  text-align: left;
  z-index: 1;
  position: relative;
  transform: rotate(-1deg);
  user-select: none;
}
section#code .background code {
  margin-left: -150px;
  margin-top: -40px;
  position: absolute;
  filter: blur(1.5px);
}
@media (max-width: 900px) {
  section#code .background code {
    margin-left: -130px;
  }
}
section#code .background .comment-highlight {
  color: green;
}
section#code .background .function-highlight {
  color: yellow;
}
section#code .background .variable-highlight {
  color: lightskyblue;
}
section#code .background .keyword-highlight {
  color: royalblue;
}
section#code .background .statement-highlight {
  color: magenta;
}
section#code .background .string-highlight {
  color: orange;
}
section#code .background .number-highlight {
  color: lime;
}
section#javascript {
  background: white;
}
section#javascript .content {
  max-width: 800px;
  margin: auto;
  padding-top: 60px;
}
section#javascript .content #stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#javascript .content #stack b {
  font-size: 18px;
  margin-left: -20px;
}
section#javascript .content #technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media (max-width: 650px) {
  section#javascript .content #technologies {
    display: block;
  }
}
section#javascript .content #technologies > div {
  margin: 5px;
  padding: 20px;
  background: rgba(230, 230, 230, 0.8);
  border-radius: 5px;
  z-index: 2;
  position: relative;
  text-align: center;
  flex-grow: 1;
}
@media (max-width: 900px) {
  section#javascript .content #technologies > div {
    padding: 6px;
  }
}
section#javascript .content #technologies > div img {
  max-width: 110px;
  max-height: 60px;
  vertical-align: middle;
}
section#activity {
  color: white;
  max-width: 1290px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
section#activity h4 {
  padding-top: 30px;
}
section#activity h4 a {
  color: white;
}
@media (max-width: 1329px) {
  section#activity h4 {
    text-align: center;
  }
}
section#activity ul {
  list-style-type: none;
  padding: 0;
}
section#activity #social-wall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section#activity #social-wall-inner {
  padding-bottom: 100px;
}
section#activity .event {
  background: #a0a0a0;
  padding: 20px;
  margin: 15px;
  width: 400px;
  box-sizing: border-box;
  flex-shrink: 0;
}
section#activity .event a {
  color: #555555;
}
section#activity .event-inner {
  display: flex;
}
section#activity .event-icon {
  flex-shrink: 0;
  margin-right: 10px;
}
section#activity .event-icon-inner {
  width: 30px;
}
section#activity .event-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60px;
}
section#activity .event-title::first-letter {
  text-transform: uppercase;
}
section#activity a.event-title {
  color: unset;
}
section#activity .event-time {
  font-style: italic;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
