body {
  background: black;
}

header {
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: white 20px solid;
}
header #hero {
  background: rgba(255, 255, 255, 0.8);
  padding: 80px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: auto;
}
@media (max-width: 900px) {
  header #hero {
    padding: 40px;
  }
}
@media (max-width: 650px) {
  header #hero {
    padding: 0;
  }
}
header #hero h1 {
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 100px;
}
@media (max-width: 650px) {
  header #hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  header #hero h1 .suffix {
    display: inline-block;
  }
}
header #hero h2 {
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 650px) {
  header #hero h2 {
    font-size: 40px;
    margin-bottom: 0;
  }
}
header #hero h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 650px) {
  header #hero h3 {
    font-size: 30px;
    margin-bottom: 5px;
  }
}
@media (max-width: 650px) {
  header .button-container {
    box-sizing: border-box;
    padding: 10px;
  }
}

section {
  padding: 80px;
}
@media (max-width: 900px) {
  section {
    padding: 40px;
  }
}
@media (max-width: 650px) {
  section {
    padding: 25px;
  }
}
section h4 {
  font-size: 30px;
  text-align: center;
}
section h5 {
  font-size: 25px;
}
section .overlay {
  margin: 80px;
  padding: 80px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
  position: relative;
  border-radius: 5px;
}
@media (max-width: 900px) {
  section .overlay {
    padding: 40px;
  }
}
@media (max-width: 650px) {
  section .overlay {
    padding: 25px;
  }
}
section#about {
  background: url("/assets/map.png") fixed;
  background-size: cover;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
}
section#about .container {
  z-index: 2;
  box-sizing: border-box;
  padding-top: 60px;
  background: rgba(0, 0, 0, 0.7);
  width: 90vw;
}
@media (max-width: 900px) {
  section#about .container {
    padding-top: 30px;
    width: 95vw;
  }
}
@media (max-width: 650px) {
  section#about .container {
    width: 100vw;
  }
}
section#about h4 a {
  color: white;
}
section#about .content {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  section#about .content {
    padding-bottom: 0px;
    flex-direction: column;
  }
}
section#about .content > div {
  padding: 25px;
  align-self: center;
}
@media (max-width: 650px) {
  section#about .content > div {
    padding: 5px;
    padding-left: 15px;
  }
}
@media (max-width: 900px) {
  section#about .content > div {
    padding: 8px;
    padding-left: 15px;
  }
}
section#about .content #portrait {
  width: 300px;
}
@media (max-width: 650px) {
  section#about .content #portrait {
    width: 100%;
  }
}
section#about .content img {
  width: 300px;
  max-width: none;
  border-radius: 5px;
}
@media (max-width: 650px) {
  section#about .content img {
    display: flex;
    margin: auto;
  }
}
section#about .ee {
  cursor: pointer;
}
section#values {
  background: #111;
  overflow: hidden;
  min-height: 90vh;
}
section#values .overlay {
  max-width: 850px;
  margin: auto;
}
section#values .overlay .row {
  display: flex;
}
@media (max-width: 900px) {
  section#values .overlay .row {
    display: block;
  }
}
@media (max-width: 650px) {
  section#values .overlay .row {
    display: block;
  }
}
section#values .overlay .row h4 {
  margin: auto;
  text-align: left;
  padding-right: 30px;
  padding-left: 40px;
  flex-basis: 70%;
}
@media (max-width: 900px) {
  section#values .overlay .row h4 {
    padding-right: 0;
  }
}
@media (max-width: 650px) {
  section#values .overlay .row h4 {
    padding-right: 0;
  }
}
section#values .overlay .row:nth-child(2n) {
  flex-direction: row-reverse;
}
section#values .overlay .row:nth-child(2n) h4 {
  padding-left: 100px;
  padding-right: 0;
  flex-basis: 80%;
}
@media (max-width: 900px) {
  section#values .overlay .row:nth-child(2n) h4 {
    padding-left: 0;
  }
}
@media (max-width: 650px) {
  section#values .overlay .row:nth-child(2n) h4 {
    padding-left: 0;
  }
}
section#values .overlay .row:nth-child(3) h4 {
  flex-basis: 70%;
}
section#values .overlay .row ul {
  list-style-type: none;
  padding-left: 0;
}
section#values .background {
  padding-top: 60px;
  max-width: 1100px;
  margin: auto;
  color: white;
  text-align: left;
  z-index: 1;
  position: relative;
  transform: rotate(-1deg);
  user-select: none;
}
section#values .background code {
  margin-left: -150px;
  margin-top: -40px;
  position: absolute;
  filter: blur(1.5px);
}
@media (max-width: 900px) {
  section#values .background code {
    margin-left: -130px;
  }
}
section#values .background .comment-highlight {
  color: green;
}
section#values .background .function-highlight {
  color: yellow;
}
section#values .background .variable-highlight {
  color: lightskyblue;
}
section#values .background .keyword-highlight {
  color: royalblue;
}
section#values .background .statement-highlight {
  color: magenta;
}
section#values .background .string-highlight {
  color: orange;
}
section#values .background .number-highlight {
  color: lime;
}
section#talks {
  min-height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
}
section#talks .content {
  max-width: 800px;
  margin: auto;
  padding-top: 60px;
}
section#talks li {
  margin-bottom: 15px;
}
section#pacman {
  background: black;
  height: 450px;
  display: flex;
  justify-content: center;
}
section#pacman iframe {
  overflow: hidden;
  width: 600px;
  height: 500px;
  position: absolute;
  border: none;
}

/*# sourceMappingURL=style.css.map */
